
  .subjects {
  text-align: center;
  
  }
  .bodyNm {
  
  }
  
  .bodySubNm {
    margin-bottom:40px;
    color:#e0d8d0;
  }

  .boardBox {
    height:300px;
  }
  
  
  .Box {
    width:100vw;
    display: flex;
    justify-content: center;
    margin:1px;
  }
  
  th {
    border:1px solid #555;
    margin:1px;
}
  .no, .pop {
      width:50px;
    }
  .subject {
      width:600px;
    }
  .name {
      width:150px;
    }
  .date {
      width:150px;
    }
  
  .write {
    background-color: #e0d8d0;
    border:none;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    font-weight: bold;
  }
  