* { 
    margin:0; 
    padding:0;
    color:#666;
    overflow-x: hidden;
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
  
  }

  
.contents {
    height:500px;
    text-align: center;
    padding-top:50px;
  }
  
  .subject {
    text-align: center;
  
  }
  .qna {
    padding-bottom: 5   0px;
  }
  

  .boardBox {
    height:300px;
  }
  
  
  .Box {
    width:100vw;
    display: flex;
    justify-content: center;
  }
  
  th {border:1px solid #555;}
  .no, .pop {width:50px;}
  .subject {width:600px;}
  .name {width:150px;}
  .date {width:150px;}
  
  .write {
    background-color: #e0d8d0;
    border:none;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    font-weight: bold;
  }
  