* { 
    margin:0; 
    padding:0;
    color:#666;
    overflow-x: hidden;
    text-decoration: none;
}
ul, li {
    list-style: none;
}

.contents {
    height:540px;
    text-align: center;
    padding-top:50px;
}
